@import "_variable.scss";
@import "_animation.scss";

$fontcolor:rgb(82, 82, 82);


html{
  transform: translate3d(0,0,0);
}
// index.pug---------------------------------------------------
$blur_anime_endtime:1.5s;
header{
  font-family: 'Scheherazade', serif;
  position: relative;
  #header{
    will-change: transform;
    width: 100vw;
    height: 100vh;
    -webkit-filter: blur(0);
    filter: blur(0);
    position: absolute;
    $n:3;


    @for $i from 1 through 4{
      .slider_#{$i}{
        animation: bg_fadeOut_#{$i} 40s ease 0s infinite;
        background-repeat: no-repeat;
        background-size: 105% auto;
        background-position:50% 70%;
        width: 100vw;
        height: 100vh;
        position: absolute;
        z-index: $i;
        width: 100vw;
        height: 100vh;
        background-image: url(../material/bg_image#{$i}.jpg);
        opacity: 1;

      }
    }


  }
  .title{
    margin-top: calc(100vh / 2.5);
    position: absolute;
    z-index: 1;
    display: inline-block;
    font-size: 180%;
    opacity: 0;
    position: absolute;
    top: 45%;
    left: 0;
    right: 0;
    bottom: 0;
    font-weight: 100;

    text-align: center;
    color: $fontcolor;
    text-shadow: 5px 5px 2px rgba(101, 101, 101, 0.35);
    animation: title_anime 2s ease #{$blur_anime_endtime + 1} forwards;
    letter-spacing: 1em;
    opacity: 0;
    &:before{
      position: absolute;
      top: 2.3rem;
      right: 0;
      left: 0;
      margin: 0 auto;
      display: inline-block;
      width: 0;

      content: "";
      height: 1px;
      background-color: $fontcolor;
      animation: title_underline 2s ease #{$blur_anime_endtime + 3} forwards;
    }
  }
  .navwrap{
    position: absolute;
    height: 4em;
    width: 95vw;
    background-color: white;
    z-index: 3;
    bottom: -95vh;
    left: 0;
    opacity: 0;
    animation: navopacty 0.1s ease #{$blur_anime_endtime + 5.8} forwards;
    nav{
      ul{
        text-align: center;
      }
      li{
        font-size: 25px;
        display: inline-block;
        margin: 13px 30px;
        a{
          color: $fontcolor;
          &:hover{

          }
        }
      }
    }
  }
  .navber{
    animation: navanime_left 4s  ease #{$blur_anime_endtime + 4} forwards;
    position: absolute;
    content: "";
    z-index: 5;
    background-color: black;
    height: 4em;
    width: 100vw;
    left:100vw;
    bottom: -95vh;
  }



// gallery.pug-------------------------------------------------
$tran_speed:40s;
$left:-310px;

@mixin image_size{
  img{
    height: auto;
    width:400px;
    margin: 5px 0;
    -webkit-box-shadow: 0 1px 6px rgba(0,0,0,.2);
    box-shadow: 0 1px 6px rgba(0,0,0,.2);
  }
}

@mixin carousel($left,$up_down,$tran_speed,$deray){
  position: absolute;
  left: $left;
  animation:trans#{$up_down} #{$tran_speed} linear $deray infinite;
  @include image_size;
}

.carousel{
  margin: 200px 0;
  text-align: center;
  max-width: 100vw;
  @for $carousel_count from 1 through 5{
    $up_and_down:down;

    @if $carousel_count % 2 == 0{
      $up_and_down:up;
    }

    &_#{$carousel_count}{
      &_A{
        @include carousel($left,_#{$carousel_count}_#{$up_and_down},$tran_speed,0s)
      }
      &_B{
        top: 100vh;
        @include carousel($left,_#{$carousel_count}_#{$up_and_down}, $tran_speed,$tran_speed / 2)
      }
    }
    $left:$left + 410px;
  }
}
}


// ------------------------------------------------------
